<h5 id="dzieci">Na skróty</h5>

<ul class="side-nav" x-ng-if="$parent.$sessionStorage && $parent.$sessionStorage.user">
  <li><a x-ng-href="#/parents/{{$parent.$sessionStorage.user.id}}/children">Twoje dzieci</a></li>
  <li><a href="/#/map?x=19.145136&y=51.9194387&childId=0">Mapa</a></li>
  <li><a href="#">Design</a></li>
  <li><a href="#">Fun</a></li>
</ul>

<p style="border: solid 1px black; padding: 1em" x-ng-if="!$parent.$sessionStorage || !$parent.$sessionStorage.user">
  Zaloguj się, aby w pełni wykorzystać możliwości aplikacji.
</p>

<div class="panel">
  <h5>Polecamy</h5>

  <p>Tylko teraz oferta super kruper bajabongo</p>
  <a href="#">Czytaj Dalej →</a>
</div>