<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7561aa">  <td>15/06/05 22:50:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParentServiceTest.shouldUpdateChild()[pri:0, instance:dziecko.tests.ParentServiceTest@186a0df6]">shouldUpdateChild</td> 
  <td>main@457512741</td>   <td></td> </tr>
<tr bgcolor="82fb8f">  <td>15/06/05 22:50:15</td>   <td>561</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:dziecko.tests.ParentServiceTest@186a0df6]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457512741</td>   <td></td> </tr>
<tr bgcolor="82fb8f">  <td>15/06/05 22:50:15</td>   <td>558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:dziecko.tests.ParentServiceTest@186a0df6]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@457512741</td>   <td></td> </tr>
<tr bgcolor="82fb8f">  <td>15/06/05 22:50:00</td>   <td>-13785</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:dziecko.tests.ParentServiceTest@186a0df6]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457512741</td>   <td></td> </tr>
<tr bgcolor="82fb8f">  <td>15/06/05 22:50:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:dziecko.tests.ParentServiceTest@186a0df6]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@457512741</td>   <td></td> </tr>
<tr bgcolor="82fb8f">  <td>15/06/05 22:50:00</td>   <td>-13774</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:dziecko.tests.ParentServiceTest@186a0df6]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457512741</td>   <td></td> </tr>
</table>
