﻿<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html x-ng-app="DzieckoModule"
      class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
      data-useragent="Mozilla/5.0 (Windows NT 6.3; WOW64; rv:36.0) Gecko/20100101 Firefox/36.0" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>System Bezpieczne Dziecko</title>
  <meta name="description"
        content="System, dzięki któremu już nigdy nie zgubisz swoich pociech!">
  <meta name="author" content="team1">
  <meta name="copyright" content="Team1 (c) 2015">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/map.css">
  <link rel="stylesheet" href="css/jquery.datetimepicker.css">
  <link rel="stylesheet" href="css/sweetalert.css">
  <link rel="stylesheet" href="css/style.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>-->
  <script src="js/jquery.js"></script>
  <script src="js/lodash.js"></script>
  <script src="js/md5.js"></script>
  <script src="js/sweetalert-base.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/sweetalert.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular-google-maps.js"></script>
  <script src="js/restangular.js"></script>
  <script src="js/jquery.datetimepicker.js"></script>
  <script src="js/ngStorage.js"></script>
  <script src="js/ui-utils.js"></script>
  <script src="js/app.js"></script>

  <meta class="foundation-data-attribute-namespace">
  <meta class="foundation-mq-xxlarge">
  <meta class="foundation-mq-xlarge-only">
  <meta class="foundation-mq-xlarge">
  <meta class="foundation-mq-large-only">
  <meta class="foundation-mq-large">
  <meta class="foundation-mq-medium-only">
  <meta class="foundation-mq-medium">
  <meta class="foundation-mq-small-only">
  <meta class="foundation-mq-small">
  <style></style>
  <meta class="foundation-mq-topbar">
</head>
<body x-ng-controller="MainCtrl">

<!-- TODO: directive -->
<div class="row">
  <div class="small-12 columns">
    <div class="nav-bar right">
      <ul class="button-group" x-ng-if="!$parent.$sessionStorage || !$parent.$sessionStorage.user">
        <li><a href="/#/registration" class="button" id="register">Zarejestruj</a></li>
        <li><a href="/#/login" class="button">Zaloguj</a></li>
      </ul>
      <span x-ng-if="$parent.$sessionStorage.user">
        Zalogowany jako {{$parent.$sessionStorage.user.name}}
        <button class="tiny" x-ng-click="logout()">Wyloguj</button>
      </span>
    </div>
    <a href="#" id="logo">
      <h1>Witaj
        <small> System Bezpieczne Dziecko</small>
      </h1>
    </a>
    <hr>
  </div>
</div>


<div class="row" x-ng-view>
</div>


<!-- TODO: directive -->
<footer class="row">
  <div class="small-12 columns">
    <hr>
    <div class="row">
      <div class="small-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="small-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<ol class="joyride-list" data-joyride data-options="cookie_monster: true; cookie_name: 'BezpieczneDzieckoJoyRide'">
  <li data-id="logo" data-text="Next" data-options="tip_location: top; prev_button: false">
    <p>System Bezpieczne Dziecko to darmowa alternatywa<br/>dla programów tropiących pociechy. Masz dość ciągłego
      wydzwaniania<br/>do swojej pociechy na wycieczce szkolnej?</p>

    <h5>SPRAWDŹ NASZ SYSTEMEM!</h5>
  </li>
  <li data-id="register" data-class="tip_location:top;tip_animation:fade" data-text="Next" data-prev-text="Prev">
    <p>Zarejestruj się już dziś podając podstawowe dane.<br/>Użyj ich potem w aplikacji na smarfonie swojego
      dziecka,<br/>aby rozpocząć procesy wyznaczania obszarów i śledzenia.</p>
  </li>
  <li data-id="dzieci" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>Z menu podręcznego można uzyskać dostęp do listy<br/>swoich dzieci, aby następnie definiować dla nich
      obszary<br/>w bardzo intuicyjny sposób, na mapach google'a.</p>
  </li>
  <li data-id="newsy" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>Bądź na bieżąco z informacjami na temat aplikacji!</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <p>Zarejestruj się już dziś i sprawdź nasz system!</p>
  </li>
</ol>

<script src="js/foundation/foundation.js"></script>
<script src="js/vendor/jquery.cookie.js"></script>
<script src="js/foundation/foundation.joyride.js"></script>
<script>
  $(document).foundation().foundation('joyride', 'start');
</script>

</body>
</html>