<aside class="large-3 columns">
  <x-short-menu></x-short-menu>
</aside>

<div class="large-9 columns" role="content">
  <h3>Twoje dzieci</h3>
  <ul>
    <li x-ng-repeat="kid in children">
      <div x-ng-if="!kid.edition">
        <a ng-href="/#/map?x={{kid.longitude}}&y={{kid.latitude}}&childId={{kid.id}}">
          <span>{{kid.name}}</span>
        </a>
        (<a x-ng-click="startEdition(kid)">Edytuj</a>)
      </div>
      <div x-ng-if="kid.edition">
        <input type="text" x-ng-model="tempKid.name"/>
        <button class="small" x-ng-click="editionSave(kid)">Aktualizuj</button>
        <button class="small" x-ng-click="editionCancel(kid)">Anuluj</button>
      </div>
    </li>
  </ul>
</div>