<aside class="large-3 columns">
  <x-short-menu></x-short-menu>
</aside>

<div class="large-9 columns" role="content">
  <form>
    <ul class="side-nav">
      <li>
        <label>Login
          <input id="login" type="text" name="login" x-ng-model="user.name">

        </label>
      </li>
      <li>
        <label>Hasło
          <input id="password" type="password" name="password" x-ng-model="user.password">
        </label>
      </li>
      <li>
        <button x-ng-click="login();">Zaloguj</button>
      </li>
    </ul>
  </form>
</div>