<data-alert></data-alert>

<div class="small-12 columns">
  <div class="row">
    <label for="area-date" class="small-2 columns"><h5>Data do sprawdzenia</h5></label>

    <div class="small-8 columns">
      <input id="area-date" type="text" x-date-picker x-tp="false" x-format="Y-m-d" ng-model="mainDate"
             x-ng-change="attachCircles()"/>
    </div>

    <h5 class="small-2 columns">{{currentIndex!==-1 ? "Wprowadź zmiany" : "Nowe kółko" }}:</h5>
  </div>
</div>
<div class="small-12 medium-10 columns" ng-if="map.show">
  <x-ui-gmap-google-map
      center="map.center"
      zoom="map.zoom"
      dragging="map.dragging"
      bounds="map.bounds"
      events="map.events"
      options="map.options"
      pan="true"
      control="map.control"
      refresh="checkRefresh()"
      >

    <x-ui-gmap-map-control template="control.tpl.html" position="right-top" index="1" controller="saveController">
    </x-ui-gmap-map-control>
    <x-ui-gmap-map-control template="control2.tpl.html" position="right-top" index="2" controller="saveController">
    </x-ui-gmap-map-control>

    <x-ui-gmap-drag-zoom keyboardkey="'alt'"></x-ui-gmap-drag-zoom>

    <!-- TO BĘDZIE DZIECIAK -->
    <x-ui-gmap-marker ng-repeat="m in map.markers" coords="m" icon="m.icon" idKey="m.id"
                      options="m.options">
      <x-ui-gmap-window ng-cloak coords="map.infoWindowWithCustomClass.coords" isIconVisibleOnClick="false"
                        options="map.windowOptions">
        <div>{{m.windowText}}</div>
      </x-ui-gmap-window>
    </x-ui-gmap-marker>

    <ui-gmap-circle ng-repeat="c in map.circles" center="c.center" stroke="c.stroke" fill="c.fill"
                    radius="c.radius" events="c.events" visible="c.visible" geodesic="c.geodesic"
                    editable="c.editable" draggable="c.draggable" clickable="c.clickable">
    </ui-gmap-circle>
    <ui-gmap-search-box
        template='search.html' options="search.options" events="search.events">
    </ui-gmap-search-box>
  </x-ui-gmap-google-map>
</div>
<aside class="small-12 medium-2 columns">
  <form name="form">
    <ul class="side-nav">
      <li>
        <label>Promień (metry)
          <input id="radius" type="text" value="100" name="radius" ng-model="currentMapCircle.radius"
                 x-ng-change="changeRadius(currentMapCircle.radius)">
        </label>
      </li>
      <li>
        <label>Godzina początku
          <input type="text" x-date-picker x-dp="false" x-format="H:i" x-ng-model="startTime"
                 x-ng-change="startChanged(startTime)" ui-mask="99:99" name="startTime"/>
          <!--ui-validate="{min:'parseInt($value)>=0', max:'parseInt($value)<=2359 && console.log($value)'}"/>-->
        </label>

        <!--<div style="color:red" ng-show="!form.startTime.$error.min || !form.startTime.$error.max">
          Zła godzina początku!
        </div>-->
      </li>
      <li>
        <label>Godzina końca
          <input type="text" x-date-picker x-dp="false" x-format="H:i" x-ng-model="endTime"
                 x-ng-change="endChanged(endTime)" ui-mask="99:99" name="endTime"/>
          <!--ui-validate="{max: 'parseInt($value)<=2359', min:'parseInt($value)>=startTime'}"/>-->
        </label>

        <!--<div style="color:red" ng-show="!form.startTime.$error.min || !form.startTime.$error.max">
          Zła godzina zakończenia!
        </div>-->
      </li>
      <li x-ng-show="currentIndex===-1">
        <label>Cykliczność
          <input type="checkbox" x-ng-model="cycle" x-ng-change="cycleChange()"/><!-- just here -->
        </label>
      </li>
      <li x-ng-show="currentIndex===-1 && cycle">
        <label>Co ile
          <select x-ng-model="selectedCycle" x-ng-options="co.id as co.label for co in cycleOpts">
          </select>
        </label>
      </li>
      <li x-ng-show="currentIndex===-1 && cycle">
        <label>Ile razy
          <input type="number" x-ng-model="cycleNumber" min="1"/>
        </label>
      </li>
      <li x-ng-show="currentIndex!==-1">
        <button ng-click="deleteActiveCircle()" class="expand alert">Usuń</button>
      </li>
    </ul>
  </form>

</aside>