<aside class="large-3 columns">
  <x-short-menu></x-short-menu>
</aside>

<div class="large-9 columns" role="content">
  <article>
    <h3><a href="#" id="newsy">System Bezpieczne Dziecko</a></h3>
    <h6>Written by <a href="#">Admin</a> on March 18, 2015.</h6>

    <div class="row">
      <div class="large-8 columns">
        <p align="justify">Celem Systemu Bezpieczne Dziecko jest inwigilowanie przez rodziców/opiekunów swoich pociech.
          W systemie występują dwa typy użytkowników: użytkownik – Rodzic oraz użytkownik – Dziecko. Poprzez możliwość
          określenia przez Rodzica dokładnej lokalizacji, w&nbsp;której ma przebywać dziecko, można w&nbsp;dowolnej
          chwili sprawdzić czy miejsce, w którym aktualnie znajduję się dziecko jest odpowiednie
          w&nbsp;danym czasie. Na bieżąco można również śledzić położenie geograficzne dziecka poprzez podgląd
          inwigilowanych użytkowników.</p>

      </div>
      <div class="large-4 columns">
        <img src="img/logo.jpg">
      </div>
    </div>
    <p align="justify">System Bezpieczne Dziecko jest świetną alternatywą w kontrolowaniu pociech
      w chwilach, kiedy nie są pod opieką rodziców. Wiemy, że właśnie wtedy dzieci
      są najbardziej narażone na niebezpieczeństwa otaczającego je świata. Każdego roku policja odnotowuje ponad cztery
      tysiące zaginięć małoletnich. Dzięki Systemowi Bezpieczne Dziecko inwigilujący nasze pociechy poza domem, możemy
      poprawić nie tylko policyjne statystyki, ale przede wszystkim zapewnić lepszą kontrolę nad dziećmi poza domem, co
      do tej pory było trudne, bądź niewykonalne.
    </p>
  </article>
  <hr>
  <article>
    <h3><a href="#">Lokalizuj swoje dziecko bezpiecznie</a></h3>
    <h6>Written by <a href="#">Admin</a> on March 18, 2015.</h6>

    <div class="row">
      <div class="large-6 columns">
        <p>GPS Wi-Fi oraz Triangulacja</p>

        <p>Super kieł</p>
      </div>
      <div class="large-6 columns">
        <img src="img/triangulacja.jpg">
      </div>
    </div>
    <p>Super kieł</p>

  </article>
</div>