<aside class="large-3 columns">
  <x-short-menu></x-short-menu>
</aside>

<form class="large-9 columns" role="content" name="registrationForm">
  <ul class="side-nav">
    <li style="color: red" x-ng-if="!validLogin">
      Ten login jest już zajęty!
    </li>
    <li>
      <label>Login
        <input id="login" type="text" name="login" x-ng-model="user.name" ng-blur="validateName(this)" required>

      </label>
    </li>
    <li>
      <label>Mail
        <input id="mail" type="email" name="mail" x-ng-model="user.mail" required>

      </label>
    </li>
    <li>
      <label>Hasło
        <input id="password" type="password" name="password" x-ng-model="user.password" required>
      </label>
    </li>
    <li>
      <label>Telefon
        <input id="phone" type="text" name="phone" x-ng-model="user.phone">

      </label>
    </li>
    <li>
      <button x-ng-click="register();">Rejestruj</button>
    </li>
  </ul>
</form>