.limited-height {
    height: 40px;
    overflow: hidden;
}

input.ng-invalid.ng-dirty {
    color: red;
    border-color: red;
}

:required:not(:valid):not([disabled]):not([readonly]):not(:focus) {
    background: url("../img/required_star.png") no-repeat center right;
    background-size: 1rem;
    transition: background-color 0.15s linear;
}